In [1]:
%load_ext autoreload
%autoreload 2

In [10]:
import os, shutil

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import glob

import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt


from utils import *

In [11]:
HOME = os.getcwd()
DATA = os.path.join(HOME, '..', 'data')

df = pd.read_excel(os.path.join(DATA, 'paq', 'paq_240123.xlsx'))

failed_hearing = [7, 27]

df = df[~df['Participant ID'].isin(failed_hearing)]

In [12]:
len(df)

25

In [13]:
q_age = 'What is your age?'
q_gender ='What is your gender?'

df = df.rename(columns={q_age: 'age', q_gender: 'gender'})

In [14]:
age_distr = df['age'].describe()
age_distr

count    25.00000
mean     28.44000
std       9.57897
min      18.00000
25%      21.00000
50%      27.00000
75%      33.00000
max      51.00000
Name: age, dtype: float64

In [17]:
df.groupby('gender')['age'].describe()

        count       mean        std   min   25%   50%   75%   max
gender
Female   12.0  30.833333  10.034788  18.0  24.0  27.5  36.5  51.0
Male     13.0  26.230769   8.955016  18.0  19.0  25.0  29.0  50.0